

/* overriding default react-bootstrap font */
.App {
    font-family: Arial, Helvetica, sans-serif !important;
    letter-spacing: 0.5px !important;
}


.hoverCard:hover {
    transform: scale(1.02);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.hoverCard {
    background: #fff;
    width: 24em;
    border-radius: 0.6em;
    margin: 1em;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px 
        hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: all ease 200ms;
}

.signInCard {
    box-shadow: 0 6.5px 6.5px -6.5px hsla(240, 30.1%, 28%, 0.25), 0 4px 4px -4px 
        hsla(0, 0%, 0%, 0.3), 0 -3px 4px -3px hsla(0, 0%, 0%, 0.03);
}

.figureRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

/* .headerImage {
    height:100%;
} */

.reactionPageCard {
    overflow: hidden;
    width: 400px;
    height: 100%;
    margin-right: 1em;
    margin-left: 1em;
}

.nav {
    background-color: #f6f6f6;
    font-family: Arial, Helvetica, sans-serif;
}

.reaction-list {
    margin-left:-1em;
    margin-right:-1em;
}

.structure-list {
    display: flex;
    justify-content: space-between end;
}

.hoverable:hover {
    cursor: pointer;
}

.test {
    background-color: green;
}