

:root {
    --navbar-light-active-color: #006da0;
    --navbar-light-hover-color: #00699a;
}

/* overriding default react-bootstrap font */
.App {
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: 0.5px !important;
    background-color: rgb(255, 255, 255);
    top: 0;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    width:100%
}

.hoverCard:hover {
    transform: scale(1.02);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.hoverCard {
    background: #fff;
    width: 24em;
    border-radius: 0.6em;
    margin: 1em;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 13px 27px -5px rgba(204, 204, 224, 0.25), 0 8px 16px -8px 
        hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: all ease 200ms;
}

.signInCard {
    box-shadow: 0 6.5px 6.5px -6.5px hsla(240, 30.1%, 28%, 0.25), 0 4px 4px -4px 
        hsla(0, 0%, 0%, 0.3), 0 -3px 4px -3px hsla(0, 0%, 0%, 0.03);
}

.figureRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

/* .headerImage {
    height:100%;
} */

.reactionPageCard {
    overflow: hidden;
    width: 400px;
    height: 100%;
    margin-right: 1em;
    margin-left: 1em;
}

#composer {
    background: rgb(255, 255, 255);
    padding:0;
    margin-left: 1em;
    margin-right:1em;
    /* border: 0.5px solid black; */
}

.searchBox {
    margin: 1em;
    margin-top: 20vh !important;
    margin-bottom:20vh;
    width:85% !important;
    position: relative;
    border: 2px solid transparent;
    border-radius: 16px;
    background: white;
    background-clip: padding-box;
    padding: 10px;
}

/* .searchBox::after {
    position: absolute;
    top: -2px; bottom: -2px;
    left: -2px; right: -2px;
    background: linear-gradient(90deg, rgba(161,14,41,1) 13%, rgba(21,26,191,1) 53%, rgba(58,167,191,1) 89%);
    background-size: 400% 400%;
    content: '';
    z-index: -1;
    border-radius: 16px;
    animation: gradient 15s ease infinite;
} */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.nav {
    /* background-color: #f6f6f6; */
    background-color: rgb(243, 243, 243);
    font-family: inherit;
}

.dropdown-menu{
    background-color: rgb(243, 243, 243) !important;
    margin-top:5px !important;
    border: 1px solid rgb(237, 237, 237) !important;
}

.dropdown-item:hover {
    background-color: rgb(210, 231, 255) !important;
}

.reaction-list {
    margin-left:-1em;
    margin-right:-1em;
    animation:fadeInRight 0.25s ease-in-out;
}

.structure-list {
    display: flex;
    justify-content: center;
    animation:fadeInLeft 0.25s ease-in-out;
}

.search-filter {
    animation:fadeInLeft 0.1s ease-in-out;
}

.search-filter-fadeout {
    animation:fadeOutTop 0.25s ease-in-out;
    opacity: 0;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.insidewrapper {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

@keyframes fadeInTop {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
    }
}

@keyframes fadeOutTop {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translateY(-100%);
    }
}

@keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
    }
}

.hoverable:hover {
    cursor: pointer;
}

.test {
    background-color: green;
}

.gray-link {
    color: gray;
    text-decoration: none;
}

.gray-link:hover {
    color: maroon;
}
