
$navbar-light-color: #212529;
// $font-family-sans-serif: "Helvetica Neue", Arial, sans-serif;
$navbar-light-active-color: #006da0;
$navbar-light-hover-color: #00699a;

/* actual bootstrap stylesheet */
@import '~bootstrap/scss/bootstrap.scss';